@page
@model AddModel
@{
}
<div>
    <h2>
        Add New Product
    </h2>
</div>

<form method="post" class="form-horizontal">
    <div asp-validation-summary="All"></div>

    <input asp-for="Product.ProductId" type="hidden" />
    <input asp-for="Product.AddedUserId" type="hidden" />
    <input asp-for="Product.AddedDateTime" type="hidden" />
    <input asp-for="Product.UpdatedUserId" type="hidden" />
    <input asp-for="Product.UpdatedDateTime" type="hidden" />
    <div class="form-group">
        <label asp-for="Product.ProductCode" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <input asp-for="Product.ProductCode" class="form-control" />
            <span asp-validation-for="Product.ProductCode"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductName" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <input asp-for="Product.ProductName" class="form-control" />
            <span asp-validation-for="Product.ProductName"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductDescShort" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <input asp-for="Product.ProductDescShort" class="form-control" />
            <span asp-validation-for="Product.ProductDescShort"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductDescLong" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <input asp-for="Product.ProductDescLong" class="form-control" />
            <span asp-validation-for="Product.ProductDescLong"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductImagePath" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <input asp-for="Product.ProductImagePath" class="form-control" />
            <span asp-validation-for="Product.ProductImagePath"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Product.ProductTypeId" class="control-label col-sm-3"></label>
        <div class="col-sm-9">
            <select asp-for="Product.ProductTypeId" class="form-control" asp-items="@Model.ProductTypes"></select>
            <span asp-validation-for="Product.ProductTypeId"></span>
        </div>
    </div>


    <div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>